body
{
	max-width: 160px;
	min-height: 160px;
	margin: none;
	padding: none;

	background-color: gray;
}

div.template
{
	min-width: 160px;
	height: 16px;
	position: fixed;
	top: none;
	left: none;
	z-index: 1;

	background-color: blue;
}

div.contents
{
	min-height: 160px;
	position: relative;
	top: 16px;
	z-index: 0;
	background-color: yellow;
}

h1
{
	text-align: center;
	font-size: 120%;
}
